[Desktop Entry]
Icon=text-html
Name=https://www.siliconchip.com.au/Issue/2024/May/Symbol+USB+Keyboard
Type=Link
URL[$e]=https://www.siliconchip.com.au/Issue/2024/May/Symbol+USB+Keyboard
