[Desktop Entry]
Icon=text-html
Name=https://www.siliconchip.com.au/Shop/?article=16250
Type=Link
URL[$e]=https://www.siliconchip.com.au/Shop/?article=16250
